body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    margin-left: auto;
    margin-right: auto;
    .nav{
        margin-left: 13.5px;
        margin-bottom: 35px;
        width: 1215px;
        height: 80px;
        display: flex;
        justify-content:space-between;
        align-items: flex-end;
        border-bottom: 3px solid rgb(116, 107, 107);
        h1{
            margin-left: 10px;
        }
    
        .buttflex{
            
            margin-bottom: 10px;
            width:250px ;
            display: flex;
            justify-content: space-around;
            a{
                text-decoration: none;
                color: white;
            }
    
    
        }
    }
    .option-div-par{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .option-div{
                    display: flex;
                    text-align: start;
                    margin-left: 20px;
                    .flabel{
                        margin-left: 16.5px;
                        margin-top: 5px;
                        padding: 2px;
                    }
    }
    
        
    }   
    #mycheckbox{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .aditional-parent{
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
        .aditional{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin-top: 20px;
                text-decoration: solid;
            }
           
        }
    }
 


}